# NumPy 

## The Basics (creating arrays, shape, size, data types)

In [104]:
import numpy as np

In [105]:
a = np.array([1,2,3], dtype='int16')
print(a*2)

[2 4 6]

In [106]:
b = np.array([[9.0,8.0,7.0],[6.0,5.0,4.0]])
print(b)

[[9. 8. 7.]
 [6. 5. 4.]]

In [107]:
# Get Dimension
b.ndim

2

In [108]:
# Get Shape
b.shape

(2, 3)

In [109]:
# Get Type
a.dtype

dtype('int16')

In [110]:
# Get Size of each item
b.itemsize

8

In [111]:
# Get total size
a.nbytes

6

## Accessing/Changing Specific elements, rows, columns, etc

In [112]:
a = np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]])
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]]

In [113]:
# Get a specific element [r,c]
a[1,5]

13

In [114]:
# Get Specific row
a[0,:]

array([1, 2, 3, 4, 5, 6, 7])

In [115]:
# Get a specific column
a[:,2]

array([ 3, 10])

In [116]:
# Getting a little fancy [startindex:endindex:stepsize]
a[0, 1:6:2]

array([2, 4, 6])

In [117]:
# Change array values (single $ mutiple)
a[1,-1] = 5
print(a)

a[0,:] = 5
print(a)

a[:,0] = 100
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13  5]]
[[ 5  5  5  5  5  5  5]
 [ 8  9 10 11 12 13  5]]
[[100   5   5   5   5   5   5]
 [100   9  10  11  12  13   5]]

### 3D array Examples

In [118]:
b = np.array([[[1,2],[3,4]],[[5,6],[7,8]]])
print(b)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [119]:
#Get specific element (work outside in)
print(b[:,0,:])

[[1 2]
 [5 6]]

In [120]:
print(b[1,1,0])

7

In [121]:
# Replace elements
# to replace an element just get its location and then assign it the new values

## Initializing Different Types of Arrays

In [122]:
# All 0s matrix
np.zeros((2,4,3))

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [123]:
# All 1s matrix
np.ones((4,2,2))

array([[[1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.]]])

In [124]:
# Any other number
np.full((2,2), 99, dtype='float32')

array([[99., 99.],
       [99., 99.]], dtype=float32)

In [125]:
# Any other number (full_like)
np.full_like(a,4)

array([[4, 4, 4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4, 4, 4]])

In [126]:
# random decimal numbers
np.random.rand(4,2,3)

array([[[0.61587271, 0.8972991 , 0.30222182],
        [0.39796546, 0.65808063, 0.26412875]],

       [[0.00857154, 0.70600262, 0.49838047],
        [0.42375218, 0.10084089, 0.24794744]],

       [[0.59349969, 0.4203293 , 0.16629343],
        [0.53054029, 0.05841958, 0.63231566]],

       [[0.78167715, 0.41050991, 0.27477723],
        [0.21195774, 0.22120396, 0.36582294]]])

In [127]:
# random decimal numbers (with shape of an existing array)
np.random.random_sample(a.shape)

array([[0.1030267 , 0.73057052, 0.67104669, 0.55147267, 0.27723008,
        0.03261909, 0.87312463],
       [0.23001404, 0.15700886, 0.52102851, 0.92309274, 0.3136856 ,
        0.56686542, 0.32095145]])

In [128]:
# Random Integer values
np.random.randint(-4,7, size=(3,3))

array([[-1,  0,  3],
       [-4,  1,  0],
       [ 1, -2,  4]])

In [129]:
# Random Identity matrix
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [130]:
# Repeat an array
arr = np.array([[1,2,3]])
r1 = np.repeat(arr,3, axis=0)
print(r1)

[[1 2 3]
 [1 2 3]
 [1 2 3]]

In [131]:
output = np.ones((5,5))
print(output)

z = np.zeros((3,3))
z[1,1] = 9
print(z)

output[1:-1,1:-1] = z
print(output)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
[[0. 0. 0.]
 [0. 9. 0.]
 [0. 0. 0.]]
[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 9. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

## Be careful when copying arrays!!!

In [132]:
a = np.array([1,2,3])
b == a
b[0] = 100
a

<ipython-input-132-6d0060290ec8>:2: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  b == a

array([1, 2, 3])

### OR

In [133]:
a = np.array([1,2,3])
b = a.copy()
b[0] = 100
a

array([1, 2, 3])

## Mathematics

In [134]:
a = np.array([1,2,3,4])
print(a)

[1 2 3 4]

In [135]:
a + 2

array([3, 4, 5, 6])

In [136]:
a - 2

array([-1,  0,  1,  2])

In [137]:
a * 2

array([2, 4, 6, 8])

In [138]:
a / 2

array([0.5, 1. , 1.5, 2. ])

In [139]:
b = np.array([1,0,1,0])
a + b

array([2, 2, 4, 4])

In [140]:
a ** 2

array([ 1,  4,  9, 16], dtype=int32)

In [141]:
# Take the sin of all the values
np.sin(a)

array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [142]:
np.cos(a)

array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362])

### Linear Algebra

In [143]:
a = np.ones((2,3))
b = np.full((3,2),2)

np.matmul(a,b)

array([[6., 6.],
       [6., 6.]])

In [144]:
# Find the determinant
c = np.identity(3)
np.linalg.det(c)

1.0

## Statistics

In [145]:
stats  = np.array([[1,2,3],[4,5,6]])
stats

array([[1, 2, 3],
       [4, 5, 6]])

In [146]:
np.min(stats)

1

In [147]:
np.max(stats, axis= 1)

array([3, 6])

In [148]:
np.sum(stats, axis=0)

array([5, 7, 9])

## Reorganizing Arrays

In [149]:
before = np.array([[1,2,3,4],[5,6,7,8]])
print(before)

after = before.reshape((2,2,2))
print(after)

[[1 2 3 4]
 [5 6 7 8]]
[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [150]:
# Vertically stacking vectors
v1 = np.array([1,2,3,4])
v2 = np.array([5,6,7,8])

np.vstack([v1,v2])

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [151]:
# Horizontal Stacking
h1 = np.array([1,2,3,4])
h2 = np.array([5,6,7,8])

np.hstack([h1,h2])

array([1, 2, 3, 4, 5, 6, 7, 8])

## Miscellaneous
Load data from file

In [152]:
filedata = np.genfromtxt('data.txt', delimiter=',')
filedata = filedata.astype('int32')
filedata

array([[  1,  13,  21,  11, 196,  75,   4,   3,  34,   6,   7,   8,   0,
          1,   2,   3,   4,   5],
       [  3,  42,  12,  33, 766,  75,   4,  55,   6,   4,   3,   4,   5,
          6,   7,   0,  11,  12],
       [  1,  22,  33,  11, 999,  11,   2,   1,  78,   0,   1,   2,   9,
          8,   7,   1,  76,  88]])

### Boolean Masking and Advanced Indexing

In [153]:
filedata > 50

array([[False, False, False, False,  True,  True, False, False, False,
        False, False, False, False, False, False, False, False, False],
       [False, False, False, False,  True,  True, False,  True, False,
        False, False, False, False, False, False, False, False, False],
       [False, False, False, False,  True, False, False, False,  True,
        False, False, False, False, False, False, False,  True,  True]])

In [154]:
filedata[filedata > 50]

array([196,  75, 766,  75,  55, 999,  78,  76,  88])

In [155]:
## You can index with a list in NumPy
a = np.array([1,2,3,4,5,6,7,8,9]) 
a[[2,7,8]]

array([3, 8, 9])

In [158]:
(~((filedata > 50) & (filedata < 100)))

array([[ True,  True,  True,  True,  True, False,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True, False,  True, False,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True, False,
         True,  True,  True,  True,  True,  True,  True, False, False]])

In [189]:
m = np.array(range(1,31, 1)).reshape(6,5)
print(m)
#m[[[[2, 2],[0, 1]],[[3, 3],[0 ,1]]]]
m[2:4,0:2]

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]
 [26 27 28 29 30]]

array([[11, 12],
       [16, 17]])

In [198]:
m[[0,1,2,3],[1,2,3,4]]

array([ 2,  8, 14, 20])

In [201]:
m[[0,-2,-1],3:5]

array([[ 4,  5],
       [24, 25],
       [29, 30]])

# Thanks!!!